body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f6f4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgb(201, 193, 193);
    color: white;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #66aaff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero {
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    text-shadow: 0 0 10px black;
}

section {
    padding: 40px;
    background: rgb(201, 193, 193);
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
}

section img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

.map-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: #151a15;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.map-link:hover {
    color: #0d47a1;
}

.map-icon {
    width: 28px;
    height: 28px;
    fill: #19a525;
    transition: 0.3s ease;
}

.map-link:hover .map-icon {
    fill: #0d47a1;
}

.celebrity-section {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.celebrity-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0b4d16;
    flex-shrink: 0;
}

.celebrity-content {
    flex: 1;
}

.celebrity-content h3 {
    margin-top: 0;
    font-size: 24px;
    color: #0b4d16;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-text {
        bottom: 20px;
        left: 20px;
        font-size: 14px;
    }

    section {
        width: 90%;
        padding: 20px;
    }

    .celebrity-section {
        flex-direction: column;
        text-align: center;
    }

    .celebrity-avatar {
        width: 140px;
        height: 140px;
    }
}
